body {
  font-family: 'Avenir', Arial, sans-serif;
  background-color: #FAFAFA; /* Light gray similar to Apple's light theme */
  color: #000;
  margin: 0;
  padding: 0;
}

.popup-container {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #333;
  font-weight: 500;
  margin-bottom: 15px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

input {
  border: 1px solid #d1d1d6; /* Lighter border color */
  border-radius: 4px;
}

button {
  background-color: #007AFF; /* Light blue similar to Apple's light theme */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

#results {
  margin-top: 15px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #d1d1d6; /* Lighter border color */
  border-radius: 4px;
  padding: 10px;
  width: 95%;
}

#results p {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background: #E5E5EA; /* Light gray similar to Apple's light theme */
  color: #000;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1); /* Lighter shadow */
  cursor: pointer;
  transition: transform 0.3s ease;
}

#results p:hover {
  transform: scale(1.05);
}

#results p:nth-child(even) {
  background-color: #D1D1D6; /* Slightly darker gray for every other item */
}

/* Dark Mode Styles */

.dark-mode {
  background-color: #1C1C1E; /* Dark gray similar to Apple's dark theme */
  color: #FFFFFF;
}

.dark-mode h1 {
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 15px;
}

.dark-mode button {
  background-color: #0A84FF; /* Brighter blue similar to Apple's dark theme */
  color: #fff;
  transition: transform 0.3s ease;
}

.dark-mode button:hover {
  transform: scale(1.05);
}

.dark-mode input {
  background-color: #3A3A3C; /* Dark gray similar to Apple's dark theme */
  color: #FFFFFF;
  border: 1px solid #636366; /* Dark border color */
}

.dark-mode #results {
  border: 1px solid #636366; /* Dark border color */
}

.dark-mode #results p {
  background: #2C2C2E; /* Dark gray similar to Apple's dark theme */
  color: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5); /* Darker shadow */
}

.dark-mode #results p:nth-child(even) {
  background-color: #3A3A3C; /* Slightly darker gray for every other item */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%; /* Add padding to the right equal to 20% of the header width */
}

.h1-title {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
    margin-right: auto; /* to push the elements on right to the end */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 40px; /* Adding margin to the left of the switch */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Adjusted height */
  width: 16px; /* Adjusted width */
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007AFF; /* Light blue similar to Apple's light theme */
}

input:focus + .slider {
  box-shadow: 0 0 1px #007AFF; /* Light blue similar to Apple's light theme */
}

input:checked + .slider:before {
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark Mode styles for the switch */
.dark-mode .slider {
  background-color: #636366; /* Dark gray similar to Apple's dark theme */
}

.dark-mode input:checked + .slider {
  background-color: #0A84FF; /* Brighter blue similar to Apple's dark theme */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Making it thinner */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px; /* Added to make it round */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.dark-mode ::-webkit-scrollbar-track {
  background: #3A3A3C;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: #636366;
  border-radius: 8px;
}

.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #2C2C2E; 
}

/* Label */
.label {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background: #007AFF; /* Making it blue */
  color: #FFFFFF; /* Changing the font color to white */
  font-weight: bold; /* Making the font bold */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

.dark-mode .label {
  background: #0A84FF; /* A brighter blue for dark mode */
  color: #fff;
}

.green-bubble {
  border-color: #34C759;
  color: #34C759;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  width: fit-content;
  max-width: 90%;
  transition: all 0.5s ease-in-out;
}
